<div class="w-full flex flex-col items-center">
  <div class="flex justify-between w-full items-center">  
    <div class="flex flex-col gap-4">
      <h1 class="text-5xl"> Your cart </h1>
      <% if @current_cart.cart_items.any? %>
        <p class="text-lg"> You have <%= @current_cart.cart_items.count %> items in your cart </p>
      <% else %>
        <p class="text-lg"> You don't have any items in your cart yet </p>
      <% end %>
    </div>

    <%= link_to "Checkout Now", checkout_cart_path(@current_cart.secret_id), class: "rounded-lg font-semibold p-4 text-center text-xl bg-yellow-400 hover:bg-yellow-500" %>
  </div>
  
  <br/>

  <div id="products" class="min-w-full grid md:grid-cols-4 gap-8">
    <% @current_cart.cart_items.each do |item| %>
      <div>
        <%= render "products/product", product: item.product %>
        
        <!-- Quantity input -->
        <%= form_with url: update_cart_item_path(item), method: :patch, local: true do |f| %>
          <%= f.text_field :quantity, value: item.quantity, class: 'quantity-input' %>
          <%= f.submit 'Update Quantity', class: 'update-btn' %>
        <% end %>

        <!-- Remove from cart button -->
        <%= link_to "Remove from cart", cart_path(@current_cart.secret_id, product_id: item.product.id), method: :delete, class: "p-2 rounded-lg bg-indigo-500 text-indigo-100" %>
      </div>
    <% end %>
  </div>
</div>
